header {
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    z-index: 2;
}

header > .section {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 1;
}

header > .left.section {
    flex: 3;
}

header .title {
    background: transparent;
    display: flex;
    flex-direction: row;
    font-size: 4em;             /* sets the relative em for itself and children */
    font-family: 'Permanent Marker';
    margin-right: 1em;
}

header .title > span {
    position: relative;
    top: -.5em;
}

header .title > span:first-child::before {
    content: 'B';
    color: brown;
}

header .title > span:nth-child(2)::before {
    content: 'i';
    color: darkorange;
}

header .title > span:nth-child(3)::before {
    content: 'o';
    color: gold;
}

header .title > span:nth-child(4)::before {
    content: 'C';
    color: yellowgreen;
}

header .title > span:nth-child(5)::before {
    content: 'H';
    color: forestgreen;
}

header .title > span:nth-child(6)::before {
    content: 'A';
    color: paleturquoise;
}

header .title > span:nth-child(7)::before {
    content: 'T';
    color: steelblue;
}

header .search-bar {
    align-items: center;
    display: flex;
    justify-content: center;
}

header .search-bar input {
    background: yellowgreen;
    border: none;
    border-radius: 1em;
    color: white;
    height: 2em;
    padding: 0 1em;
    width: 100%;
}

header .search-bar input::placeholder {
    color: greenyellow;
}

header .right.section {
    justify-content: flex-end;
}

header .right.section > *:last-child {
    margin-right: 0;
}

.right.section > div {
    align-items: center;
    align-self: center;
    background: white;
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    margin-right: 1em;
    width: 2em;
}

.right.section > div > div {
    align-items: center;
    background: transparent;
    border: 0px solid;
    border-radius: 1em;
    display: flex;
    height: 2em;
    justify-content: center;
    position: absolute;
    width: 2em;
}

.right.section > div i {
    color: var(--dark-gray);
    font-size: 1em;
}

#search-options {
    background: paleturquoise;
}

#search-options > div {
    border-color: paleturquoise;
}

#user-link {
    background: steelblue;
}

#user-link > div {
    border-color: steelblue;
}
