@import url('https://fonts.googleapis.com/css?family=Roboto|Permanent+Marker|Roboto+Mono&display=swap');
@import url('header.css');
@import url('main.css');
@import url('events.css');

:root {
    --dark-gray: #2e2e2e;
    --shadow-color: rgba(0, 0, 0, .5);
}

body {
    background: var(--dark-gray);
    color: var(--dark-gray);
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono';
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

input {
    font-family: 'Roboto Mono';
    font-size: 1em;
}

*:focus {
    outline: none;
}

a, a:visited, a:hover, a:focus {
    background: ghostwhite;
    color: steelblue;
}
