main {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

/************/
/* Sections */
/************/

main > section {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 2em;
}

main > section > div {
    background: #383838;
    border: 1px solid #424242;
    box-shadow: 0px 0px .1em;
    color: white;
    margin: 1em;
    max-width: 1024px;
}

main > section > div:nth-child(7n + 1) {
    box-shadow: 0px 0px .25em rgba(165, 42, 42, .5);
}

main > section > div:nth-child(7n + 2) {
    box-shadow: 0px 0px .25em rgba(255, 140, 0, .5);
}

main > section > div:nth-child(7n + 3) {
    box-shadow: 0px 0px .25em rgba(255, 215, 0, .5);
}

main > section > div:nth-child(7n + 4) {
    box-shadow: 0px 0px .25em rgba(154, 205, 50, .5);
}

main > section > div:nth-child(7n + 5) {
    box-shadow: 0px 0px .25em rgba(34, 130, 34, .5);
}

main > section > div:nth-child(7n + 6) {
    box-shadow: 0px 0px .25em rgba(175, 238, 238, .5);
}

main > section > div:nth-child(7n + 7) {
    box-shadow: 0px 0px .25em rgba(70, 130, 180, .5);
}

main > section > div > div {
    margin: 1em;
}

/********************/
/* Site Description */
/********************/

#description {
    background: url(../assets/bg.png);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px .25em var(--shadow-color);
    padding: 1em 2em;
}

#description > div {
    background: rgba(255, 255, 255, .9);
    border-radius: 1em;
    box-shadow: 0px 0px .5em var(--shadow-color);
    color: #2e2e2e;
}

#description pre {
    background: white;
    border: 1px dotted black;
    display: inline;
    font-size: .75em;
    font-weight: bold;
}

/******************/
/* Search Results */
/******************/

#search-results {

}
